html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.dropdown button {
  padding: 1rem 3rem;
  border: none;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  text-align: center;
  padding: 1rem 3rem;
  gap: 1rem;
}

.dropdown-content a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}
